body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image:linear-gradient(
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);;
      color: #f5f6f7;
}
label{
    display: block;
    margin: 0.5rem 0;
}
h1,p{
    text-align: center;
}
input,
textarea,
select {
	margin: 10px 0 0 0;
	width: 100%;
}
fieldset{
    background:linear-gradient(
        rgba(38, 38, 163, 0.8),
        rgba(147, 147, 205, 0.7)
      );
    margin: auto;
    max-width: 500px;
    min-width: 400px;
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
  
  }